.embla__class-names {
  transition: opacity 0.2s ease-in-out;
}
.embla__class-names:not(.is-snapped) {
  opacity: 0.16;
}
.embla__dot {
  -webkit-appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
}
.embla__dot {
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  margin-left: 16px;
  transition: all 0.3s;
}
.embla__dot:after {
  background: var(--background-site);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  content: '';
}
.embla__dot--selected {
  width: 16px;
  height: 10px;
}
.embla__dot--selected:after {
  border-radius: 5px;
  background: linear-gradient(
    45deg,
    var(--brand-primary),
    var(--brand-secondary)
  );
}
